@media screen and (max-width: 500px) {
  /* .layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .layout-children {
    display: flex;
    justify-content: center;
  } */
}
