@media screen and (max-width: 500px) {
  /* .layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .layout-children {
    display: flex;
    justify-content: center;
  } */

  .layout {
    width: 100vw;
  }

  .root {
    width: 100vw;
    padding: 0;
    margin: 0;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .clear-fix {
    clear: none;
  }
  .layout Header {
    width: 100vw;
    flex-direction: column;
    /* mn */
  }
}
