@media screen and (max-width: 500px) {
  .layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .layout header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #202020;
    order: 2;
    width: 70%;
  }
  .layout .nav {
    order: 1;
    width: 20%;
  }

  .layout-children {
    order: 3;
    width: 100%;
  }
  .footer {
    order: 5;
  }

  .clear-fix {
    clear: none;
    order: 4;
  }
}
