.logos {
  display: grid;
  grid-template-columns: 250px 320px 250px;
  grid-template-rows: 100px 80px 100px;
  grid-template-areas:
    "google-logo . oracle-logo"
    ". att-logo ."
    "capital-one-logo . verizon-logo";
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
}

.google-logo {
  grid-row: 1;
  grid-column: 1;
  grid-area: google-logo;
  object-fit: cover;
  object-fit: contain;
}

.oracle-logo {
  grid-row: 1;
  grid-column: 3;
  grid-area: oracle-logo;
  object-fit: cover;
  object-fit: contain;
}

.att-logo {
  grid-area: att-logo;
  grid-row: 2;
  grid-column: 2;
  height: 100px;
  align-content: stretch;
  object-fit: cover;
  object-fit: contain;
}

.capital-one-logo {
  grid-area: capital-one-logo;
  grid-row: 3;
  grid-column: 1;
  object-fit: cover;
  object-fit: contain;
}

.verizon-logo {
  grid-area: verizon-logo;
  grid-row: 3;
  grid-column: 3;
  object-fit: cover;
  object-fit: contain;
  object-fit: cover;
  object-fit: contain;
}

.some-contributors {
  color: #f90c86;
  border-top: solid grey;
  width: 800px;
  padding: 30px 0 30px 0;
  margin: 0 auto;
}

.bottom-imgs {
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 45px 0;
  margin: 0 auto;
}

span {
  color: #ff7cab;
}

.girl-quotes {
  margin-bottom: 30px;
}

.donate-btn {
  width: 160px;
  height: 55px;
  border-radius: 3px;
  color: white;
  border: none;
  background-image: linear-gradient(to top, #ff0072, #ff7cab);
  font-size: 22px;
  margin: 50px auto 50px auto;
}
