label {
  font-family: "Roboto-Bold", "sans-serif";
}

.new-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.event-create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event-create > .img-container img {
  border: 2px solid #ff7cab;
  border-radius: 5px;
  margin: 20px;
}
.create-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
}

.create-form label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #ff7cab;
  font-size: 17px;
  margin: 4px;
}

.create-form input,
.create-form textarea,
.event-create > .img-container img {
  border-radius: 5px;
  border: 2px solid #ff7cab;
}

.create-form input,
.create-form textarea {
  width: 80%;
  padding: 3px;
}

.create-form textarea {
  height: 150px;
}

.submit-button {
  width: 81px;
  height: 18px;
  right: 0;
  border-radius: 2px;
  color: white;
  border: none;
  background-image: linear-gradient(to top, #ff0072, #ff7cab);
  font-size: 12px;
  margin-left: 10px;
}
