.footer {
	width: 100%;
	height: 200px;
	background-color: #202020;
	text-align: center;
<<<<<<< HEAD
	position: fixed;
	bottom: 0;
=======
>>>>>>> cd31aa3a7c4e58f9a1c758ba53528ccce60a7ad7
}

.footer-text {
	color: white;
	font-size: 15px;
}

.facebook,
.twitter,
.linkedin {
	margin: 0 4px;
}
