.donation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.donation-content img {
  object-fit: contain;
  object-fit: cover;
}
.support {
  position: relative;
  bottom: 130px;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.donation-pic {

	width: 948px;
	height: 341px;
	object-fit: cover;
	margin-bottom: 60px;

}

.mission-p {
  border: solid #ff7cab;
  width: 750px;
  text-align: center;
  margin: 0 auto;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  margin-bottom: 60px;
}

.charity {
  height: 90px;
  width: 420px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

.donor-wall-container {
  width: 820px;
}

.donor-text {
  color: #ff7cab;
  text-align: left;
}

.donate-form-container {
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 550px;
  height: 645px;
  margin: 0 auto;
  background-color: white;
  /* margin-top: 0; */
}

.form-header {
  background-color: #ff7cab;
  height: 60px;
  padding-top: 15px;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.check-boxes {
  color: black;
}

.time-btn {
  background-color: #ff7cab;
  border: 1px solid #f90c86;
  width: 86px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: none;
}

.time-btn:active,
.time-btn:focus {
  background-color: #ff0072;
}

.money-btn {
  border: 3px solid #8e8d8d;
  width: 104px;
  height: 83px;
  font-size: 24px;
  margin: 0 8px;
  background-color: white;
  outline: none;
}

.money-btn:active,
.money-btn:focus {
  border-color: #ff0072;
}

.btn-group-one,
.btn-group-two {
  margin-top: 20px;
}

.amount {
  width: 175px;
  height: 31px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  border-color: black;
}

.company-name {
  width: 344px;
  height: 31px;
  font-family: "Montserrat", sans-serif;
}

.employer-match-text,
.co-match-name {
  font-size: 16px;
  color: #828282;
}

.employer-match-text {
  margin-right: 180px;
  margin-bottom: 5px;
}

.match-text {
  color: #202020;
  font-size: 12px;
  width: 308px;
  margin: 0 auto;
  margin-top: 9px;
  font-weight: lighter;
}

.match-border {
  border: 1px solid #8e8d8d;
  width: 390px;
  height: 110px;
  margin: 0 auto;
}

.co-match-name {
  margin: 5px 160px 5px 0;
  font-weight: lighter;
}

.check-boxes {
  width: 380px;
  height: 120px;
  margin: 0 auto;
  text-align: left;
}

.label-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.submit-btn {
  width: 220px;
  height: 70px;
  border-radius: 4px;
  color: white;
  border: none;
  background-image: linear-gradient(to top, #ff0072, #ff7cab);
  font-size: 32px;
}

.checkbox {
  margin: 15px 15px 0 0;
}

input[type="checkbox"] {
  transform: scale(2);
}

/* input[type="checkbox"]:active,
input[type="checkbox"]:focus {
	background-color: #ff0072;
} */

.amount::placeholder {
  padding-left: 10px;
}

.company-name::placeholder {
  padding-left: 10px;
}

.donation-wall p {
  background: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0px 0px 40px 0px;
  line-height: 60px;
  text-indent: 30px;
}

.donor-text {
  text-indent: 8px;
}

/* .kim-subtext {
  color: black;
  font-size: 14px;
  padding: 0;
  margin-left: 30px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 3px;
} */
