@media screen and (max-width: 500px) {
  .logo {
    width: 350px;
    margin: 0 auto;
  }

  .hot-zone-home {
    width: auto;
    padding: 50px 0px 12px;
    display: flex;
    justify-content: center;
  }
}
