@media screen and (max-width: 500px) {
  .floating-div {
    /* margin: 10px 0 30px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0;
    height: auto;
  }
  .right-text {
    font-size: 13px;
    text-align: left;
    margin: 0 0 0 0;
    height: auto;
    width: 95vw;
    line-height: 22px;
    font-family: "Roboto", sans-serif;
  }
  .description {
    margin: 0px 0px 18px 0px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    width: 100vw;
  }
  .bottom-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .bottom-left-text {
    font-size: 24px;
    padding-left: 5px;
    text-align: center;
    margin: 9px 0 10px 0;
    font-family: "Roboto", sans-serif;
  }

  .blackboard-img {
    height: auto;
    width: 400px;
    object-fit: cover;
    padding-left: 10px;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .break-the-cycle {
    height: auto;
    width: 350px;
    margin: 0 auto;
  }
  .students {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-top: 1.5px solid grey;
    padding-top: 25px;
    margin: 0 auto;
  }
  .student-text {
    width: 100vw;
    margin: 10px 0px 10px 0px;
    padding: 20px 10px;
    line-height: 24px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .students-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    border-bottom: 1.5px solid grey;
    margin: 10px 0px 10px 0px;
  }
  .vision {
    width: 100vw;
    padding: 20px 10px;
    line-height: 24px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }

  .office-text {
    text-align: left;
    margin: 30px 10px 10px 10px;
    font-size: 25px;
    line-height: 39px;
  }

  .border-div {
    width: 50vw;
    border-top: 1.5px solid grey;
    margin-left: 0px;
  }

  .boys {
    height: auto;
    width: 85vw;
    margin: 0 0 0 0;
  }

  .mailing-list-container {
    background-color: white;
    width: 350px;
    height: 226px;
    margin-top: 110px;
  }
  .email {
    background-color: rgb(196 196 196);
    width: 300px;
    height: 42px;
    font-size: 22px;
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-bottom: 28px;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (max-width: 800px) {
}
