body {
  background-color: #202020;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home_title {
  color: #f90c86;
  border: none;
  margin-bottom: 0px;
  padding-bottom: 5px;
  font-size: 45px;
}
.home_subtitle {
  margin-top: 0px;
  letter-spacing: 1.5px;
  font-size: 35px;
}
span {
  color: #ff7cab;
  font-weight: bold;
}

.vision {
  width: 950px;
  margin: 10px 0px 20px 125px;
  padding: 20px 40px;
  line-height: 24px;
  font-size: 16px;
}
.students {
  width: 950px;
  border-top: 1.5px solid grey;
  padding-top: 25px;
}
.student_text {
  width: 950px;
  margin: 10px 0px 10px 5px;
  padding: 20px 40px;
  line-height: 24px;
  font-size: 16px;
}
.students_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 950px;
  border-bottom: 1.5px solid grey;
  margin: 10px 0px 10px 115px;
}
.sign_up_button {
  width: 143px;
  height: 54px;
  background-image: linear-gradient(to top, #ff0072, #ff7cab);
  color: white;
  border: none;
  font-size: 22px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 var(--black-25);
}
.float_title {
  font-size: 48px;
  color: #f90c86;
  border: none;
}
.floating_div {
  margin: 10px 35px 30px 45px;
  display: flex;
}

.blackboard_img {
  height: 550px;
  width: 450px;
  margin: 0px 0px 0px 30px;
}
.title {
  color: #ff7cab;
  font-weight: bold;
  font-size: 22px;
  margin: 0px;
}

.right_text {
  font-size: 13px;
  text-align: left;
  margin-left: 30px;
  margin-top: -5px;
  height: 550px;
  width: 450px;
  line-height: 23px;
}

.description {
  margin: 0px 0px 18px 0px;
  font-size: 16px;
}

.left_content {
  display: flex;
  flex-direction: column;
  align-content: left;
  border-right: 1.5px solid grey;
  margin-left: 40px;
  width: 510px;
}
.office_text {
  text-align: left;
  margin: 10px 30px 10px 28px;
  font-size: 36px;
  line-height: 35px;
}

.bottom_div {
  display: flex;
}

.border_div {
  width: 1010px;
  border-top: 1.5px solid grey;
  margin-left: 110px;
}

.bottom-left {
  margin-left: 28px;
}

.boys {
  height: 25vw;
  margin-top: 30px;
  margin-left: 20px;
}

.pink-text {
  color: #ff7cab;
}
.pink-text:hover {
  color: #f90c86;
}

.mailing-list-container {
  background-color: white;
  width: 436px;
  height: 226px;
  margin: 70px 0 0 55px;
}

.mailing-list-text {
  font-size: 23px;
  color: #202020;
  font-weight: normal;
  padding-top: 25px;
}

.subscribe-button {
  width: 125px;
  height: 45px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(196 196 196);
  color: white;
  border: none;
  background-image: linear-gradient(to top, #ff0072, #ff7cab);
  font-size: 17px;
  /* margin: 10px 0px 0px 40px; */
}

.subscribe-button:focus {
  outline: none !important;
}

.email {
  background-color: rgb(196 196 196);
  width: 388px;
  height: 42px;
  font-size: 22px;
  text-align: center;
  border: none;
  margin-top: 5px;
  margin-bottom: 28px;
}

.bottom-left-text {
  font-size: 24px;
  padding-left: 5px;
  text-align: center;
}
