@media screen and (max-width: 500px) {
  .search {
    display: none;
  }
  .search-social {
    display: none;
  }
  .search-div {
    display: block;
  }
  .search-container {
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .search-div {
  }
  .search-btn {
    width: 100px;
    height: 32px;
    margin: 10px 80px 20px 0px;
  }
}
