/* Color palette 
strong-pink-two: #f90c86*/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 950px;
  height: 55px;
  background-color: black;
  font-size: 11px;
  padding: 0 10px;
}

.link {
  padding: 10px 12px;
  color: white;
  white-space: nowrap;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

/* drop down fade effect from by inorganik see stack overflow below */
/* https://stackoverflow.com/questions/10285375/can-css3-drop-down-menu-fade-in-and-fade-out/21835364 */
.drop-down-list .drop-down {
  opacity: 0;
  visibility: collapse;
  transition: 0.2s linear;
  background-color: black;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding: 6px 6px;
  position: absolute;
  z-index: 3;
  margin: 0;
  user-select: none;
}

.link:hover,
.drop-down > li:hover {
  background: linear-gradient(#ff7cab, #f90c86);
  border-radius: 5px;
}
.drop-down-list:hover .drop-down {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

.drop-down li {
  padding: 10px 12px;
  color: white;
  white-space: nowrap;
  user-select: none;
}
